@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="alert alert-info">الأقسام الرئيسية للمتجر </h1>

    <div class="row d-flex justify-content-center align-items-center">
        @foreach(dynamic item in ViewBag.CategoriesList)
        {
            <dic class="col-md-4">
              <div class="card text-center h-100">
                <div class="card-body">
                  <div class="mb-4">
                      <i class="fas @item.Icon" style="color: rgb(92, 20, 154); font-size: 80px;"></i>
                   </div>
                    <h4 class="fw-bold mb-4">
                        @item.Name
                    </h4>
                    <a asp-action="Products" asp-route-id=@item.Id class="btn btn-danger">عرض المنتجات</a>
                </div>
              </div>
            </dic>
        }
    </div>
</div>