@{

}

<div class="container">
    <div class="text-center mb-5">
         المنتجات المتوفرة  
    </div>

    @if(ViewBag.Filtered.Count==0)
    {
        <h1>لا توجد منتجات لعرضها </h1>
    }

    else{
        <div class="row">
            @foreach(dynamic item in ViewBag.Filtered)
            {
                <div class="col-sm-4">
                 
                    <div class="card h-100"> 
                      <img src="~/images/@item.Images" class="card-img-top" width="100" height="300" />
                      <div class="card-body">
                        <div class="card-title">
                            @item.Name
                        </div>
                        <h5 class="badge bg-danger text-white">
                            @item.Price ريال
                        </h5>
                        <div class="mb-4">
                             <a asp-action="Details"  asp-route-name="@item.Name"  class="btn btn-success"> تفاصيل المنتج  </a>
                        </div>

                      </div>
                    </div>
                </div>
            }
        </div>
    }
</div>