
@model List<Product>

@{

}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>لوحة التحكم لإضافة المنتجات</h1>
        </div>
        <div class="col">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-lg">أضافة منتج</i></a>
        </div>
    </div>
</div>
 <div class="card mt-5">
        <div class="card-body">
            <table class="table">
             <thead>
                  <tr>
                    <td>#</td>
                    <td>اسم المنتج</td>
                    <td>سعر المنتج</td>
                  </tr>
             </thead>

             <tbody>
              @if(Model==null )
              {
                <tr>
                    <td>لا توجد بيانات</td>
                </tr>
              }

              else{
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="ps-4 fw-bload text-secandory">@item.Id</td>
                        <td class="ps-4 fw-bload text-secandory">@item.Name</td>
                        <td class="ps-4 fw-bload text-secandory">@item.Price</td>
                    </tr>
                }
              }
             </tbody>
            </table>
        </div>
    </div>